*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#cursor{
    height: 12px;
    width: 12px;
    background-color: rgb(93, 17, 165);
    position: absolute;
    z-index: 9999;
    border-radius: 50%;
    transition: all linear 0.1s;
}
.elem{
    width: 25vw;
    height: 50vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    scale: 0;
    opacity: 0;
    transition: all linear 0.2s;
    z-index: -1;
}
.elem h1{
    font-size: 70px;
    font-weight: 900;
    color: #fff;
    -webkit-text-stroke: 2px #000;
    mix-blend-mode: difference;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: #00000000;
    position: absolute;
}